#wrapper{
  background:url(http://bpic.588ku.com/element_origin_min_pic/16/08/06/2057a5d8ed1ee2b.jpg);
  background-size:10%;
  margin: 0 auto;
}
#header{
  background:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1543609058103&di=af9833808462a42c216a88f6045d252a&imgtype=0&src=http%3A%2F%2Fimage.tupian114.com%2F20140725%2F16060106.jpg);
  text-align: center;
  line-height: 20px;
  height: 100px;
  margin:0 20%;
  border-style: solid;
  border-color: #012E63;
  border-width: 5px;
  border-bottom-style: double;
  border-bottom-color: #012E63;
  border-bottom-width: 5px;
}
#header h2{
  font-family: Papyrus,fantasy;
  font-weight: bold;
  color: #0166df;
  font-size: 50px;
}
#leftbody{
  border-image: linear-gradient(to bottom,#8dbcf4,#60a1ef,#1472e2,#075dc4) 1/10px;
	float:left;
	height: 100px;
  width: 15%;
	background-color:mintcream;
  margin-left: 20%;
}
#leftbody a{
  display:block;
  position:relative;
  left:80px;
  color:#30a4c4;
  font-family: Arial Black,Arial Bold,Gadget,sans-serif;
}
#leftbody img{
  width: 20%;
  height: 20%;
  position:relative;
  top:30px;
  left:-60px;
  overflow:hidden;
  border-radius: 50%;
}
#rightbody{
  border-image: linear-gradient(to top,#8dbcf4,#60a1ef,#1472e2,#075dc4) 1/10px;
	float:right;
	height: 100px;
  width: 45%;
	background-color: mintcream;
  margin-right: 20%;
}
#a1,#a2,#a3{
  margin-left: 50px;
  line-height: 100px;
  font-family: Arial Black,Arial Bold,Gadget,sans-serif;
  color:yellowgreen;
}
#content{
  border-image: url(http://pic.ffpic.com/files/2016/0516/sl0430jcpiy.jpg) 27 round;
  border-image-width: 10px;
  background-color:floralwhite;
  height: 1000px;
  margin:0 20%;
}
#bottom{
  background: url(http://imgsrc.baidu.com/imgad/pic/item/faedab64034f78f0b7c0030773310a55b2191c7e.jpg);
  height: 100px;
  margin:0 20%;
  border-style: solid;
  border-color: #012E63;
  border-width: 5px;
  border-top-style: double;
  border-top-color: #012E63;
  border-top-width: 5px;
}
#top{
  border:solid 3px red;
  color: black;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  position:fixed;
  right:20px;
  bottom:20px;
}
#contact{
  position:relative;
  left:50%;
}
#suggest{
  position:relative;
  left:10%;
}
#survey{
  position:relative;
  left:10%;
  bottom:85px;
}
